<ion-header slot="top">
  <ion-toolbar color="blue">
        <ion-buttons slot="start" color="light">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-buttons  slot="end">
        <ion-avatar slot="end" *ngIf="logo != null ">
            <img   src={{logo}} >
        </ion-avatar>
		</ion-buttons>
        <ion-title color="light"  *ngIf="organization != null"> <strong> {{organization.commercial_name}}</strong></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="goldlow"  class="ion-padding">
 

     <ion-grid>
     	<ion-row *ngFor="let i of messages">
     		<ion-col size="9" *ngIf="i.type != 'send'" class="message other-message">
     			<span>{{i.text}} </span>
     			<div  class="ion-text-right" class ="time"><br>{{i.date_sent|date:'short'}}</div>
     		</ion-col>

     		<ion-col offset="3" *ngIf="i.type == 'send'" class="message my-message">
     			<span>{{i.text}} </span>
     			<div >
     				<span  class="ion-text-left" *ngIf="i.date_read!= null "  > <br><ion-icon name="eye"></ion-icon> </span>
     				<span  class="ion-text-left" *ngIf="i.date_read == null "  > <br> <ion-icon name="eye-off"></ion-icon> </span>
     				<span  class="ion-text-right" class ="time"> {{i.date_sent|date:'short'}}</span>
     			</div>
     		</ion-col>
     	</ion-row>
     </ion-grid>



	<!-- 	 <ion-item>
            <ion-input placeholder="Type your message" type="text" (focus)="showOptionsToggle(false)"></ion-input>
          </ion-item> -->
</ion-content>



<ion-footer>
    <!-- <ion-button (click)="baja()"> Baja </ion-button> -->
	<ion-toolbar color="light">
		<ion-row >
			<ion-col size="10.5">
				<ion-textarea   maxRows="3" autoSize  [(ngModel)]="newMessage" class="message-input ion-no-padding" placeholder="Escribe un mensaje"> </ion-textarea>
				<!-- <ion-textarea class="ion-no-padding"   ></ion-textarea> -->
			</ion-col>
			<ion-col size="1.5">
				<ion-button expand="block"  color = "blue" [disabled]="newMessage == ''" class="msg-btn" (click)="sendMessage()">
					<ion-icon name="send" slot="icon-only" color ="light"></ion-icon>
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer>