<ion-header>
  <ion-toolbar color="blue">
  	<ion-buttons slot="start" color="light">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons> 
    <ion-title color="light"> <strong> Actualizacion de perfil</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>

		<ion-list-header  >
			<font size =4> <strong>DATOS DE ACCESO</strong> </font>
        </ion-list-header>

		<ion-item  lines="none">
            <ion-label position="stacked"><font size=5>Nombre de Usuario</font><ion-text color="danger">*<br></ion-text></ion-label>
			<ion-input  placeholder="p. ej. nombre.apellido"
						[(ngModel)]="user.username"></ion-input>
	    </ion-item>

		<ion-item lines="none">
            <ion-label position="stacked"><font size=5>Contraseña</font><ion-text color="danger">*<br></ion-text></ion-label>
            <ion-input placeholder="Ingresa una contraseña"></ion-input>
  
	    </ion-item>
        <!--
        <ion-text color="danger"> La contraseña debe contener 3 de las 4 siguientes categorías de caracteres: 1.) al menos 1 mayúscula, 2.) al menos 1 minúscula, 3.) al menos un carácter numérico, 4.) al menos un carácter especial.
		</ion-text>
		-->
		<ion-item lines ="none">
            <ion-label position="stacked"><font size=5>Confirmar contraseña</font><ion-text color="danger">*<br></ion-text></ion-label>
            <ion-input placeholder="Vuelve a ingresar la contraseña"></ion-input>
	    </ion-item>

	</ion-list>
 
 	<ion-list>

		<ion-list-header  >
			<font size =4> <strong>DATOS DEL CANDIDATO</strong> </font>
        </ion-list-header>

		<ion-item  lines="none">
            <ion-label position="stacked"><font size=5>Nombres</font><ion-text color="danger">*<br></ion-text></ion-label>
			<ion-input 	placeholder="Escribe tu(s) nombre(s)"
						[(ngModel)]="candidate.firstname"
						required></ion-input>
	    </ion-item>

		<ion-item lines="none">
            <ion-label position="stacked"><font size=5>Apellidos</font><ion-text color="danger">*<br></ion-text></ion-label>
			<ion-input  placeholder="Escribe tu(s) apellido(s)"
						[(ngModel)]="candidate.lastname"></ion-input>
  
	    </ion-item>

	    <ion-item>
		    <ion-label>Sexo</ion-label>
			<ion-select placeholder="Seleccione tu Sexo"
				interface="popover"
				[(ngModel)]="candidate.sex">
		      	<ion-select-option value="female">Mujer</ion-select-option>
		      	<ion-select-option value="male">Hombre</ion-select-option>
		    </ion-select>
  		</ion-item>
       

		<ion-item>
			<ion-label  >Fecha de Nacimiento</ion-label>
			<ion-datetime 	displayFormat="YYYY-MM-DD" min="1954-01-01" max="2001-12-31" value="2001-12-31"
							[(ngModel)]="candidate.birth_date"></ion-datetime>
		</ion-item>
 		
 		<ion-item>
		    <ion-label>Estado civil</ion-label>
			<ion-select placeholder="Seleciona tu estado civil"
				interface="popover"
				[(ngModel)]="candidate.marital_status">
				<ion-select-option  value="married">Casado(a)</ion-select-option>
		      	<ion-select-option  value="unmarried">Soltero(a)</ion-select-option>
		      	
		    </ion-select>
  		</ion-item>

  		<ion-item lines="none">
            <ion-label position="stacked"><font size=5>Correo Electronico</font><ion-text color="danger">*<br></ion-text></ion-label>
			<ion-input  placeholder="Escribe tu correo electronico"
						[(ngModel)]="user.email"></ion-input>
	    </ion-item>

	    <ion-item lines="none">
            <ion-label position="stacked"><font size=5>Teléfono</font><ion-text color="danger">*<br></ion-text></ion-label>
			<ion-input  placeholder="p. ej. (999) 999 9999"
						[(ngModel)]="candidate.phone"></ion-input>
	    </ion-item>

	    <ion-item lines="none">
            <ion-label position="stacked"><font size=5>Teléfono Celular</font></ion-label>
			<ion-input 	placeholder="p. ej. (+52) 999 999 99 99"
						[(ngModel)]="candidate.cellphone"></ion-input>
	    </ion-item>

	    <ion-item>
      	<ion-label><font >País</font></ion-label>
      		<ion-select ok-text="seleccionar" cancel-text="cancelar" placeholder="seleccionar País"  >
        		<ion-select-option value="1">México</ion-select-option>
        		<ion-select-option value="2">Estados Unidos</ion-select-option>
        		<ion-select-option value="3">Canadá</ion-select-option>
      		</ion-select>
    	</ion-item>
    	
    	<ion-item>
    	<ion-label><font >Estado</font></ion-label>
      		<ion-select ok-text="seleccionar" cancel-text="cancelar" placeholder="seleccionar estado"  >
        		<ion-select-option value="1">elemento 1</ion-select-option>
        		<ion-select-option value="2">elemento 2</ion-select-option>
        		<ion-select-option value="3">elemento 3</ion-select-option>
        		<ion-select-option value="4">elemento 4</ion-select-option>
       	 		<ion-select-option value="5">elemento 5</ion-select-option>
        		<ion-select-option value="5">elemento 6</ion-select-option>
      		</ion-select>
    	</ion-item>

    	<ion-item>
    		<ion-label><font >Ciudad</font></ion-label>
      		<ion-select ok-text="seleccionar" cancel-text="cancelar" placeholder="seleccionar ciudad"  >
        		<ion-select-option value="1">elemento 1</ion-select-option>
        		<ion-select-option value="2">elemento 2</ion-select-option>
        		<ion-select-option value="3">elemento 3</ion-select-option>
        		<ion-select-option value="4">elemento 4</ion-select-option>
       	 		<ion-select-option value="5">elemento 5</ion-select-option>
        		<ion-select-option value="5">elemento 6</ion-select-option>
      		</ion-select>
    	</ion-item>

    	<ion-item>
    		<ion-label><font >CURP</font></ion-label>
    		<ion-input value="AF8SDFS9DFSF88" disabled></ion-input>
    	</ion-item>

    	<ion-item>
    		<ion-label><font >Matricula</font></ion-label>
    		<ion-input value="12353221" disabled></ion-input>
    	</ion-item>

    	<ion-item>
    		<ion-label><font >Dependencia</font></ion-label>
      		<ion-select ok-text="seleccionar" cancel-text="cancelar" placeholder="Selecciona tu facultad"  >
        		<ion-select-option value="1">elemento 1</ion-select-option>
        		<ion-select-option value="2">elemento 2</ion-select-option>
        		<ion-select-option value="3">elemento 3</ion-select-option>
        		<ion-select-option value="4">elemento 4</ion-select-option>
       	 		<ion-select-option value="5">elemento 5</ion-select-option>
        		<ion-select-option value="5">elemento 6</ion-select-option>
      		</ion-select>
    	</ion-item>
	</ion-list>
 		
</ion-content>
