<ion-header>
<ion-img src= "./assets/image/Login_Edificio_Central.jpg"></ion-img>

</ion-header>

<ion-content color ="goldlow">


          <div padding>
          	<h1>
          		Olvidó contraseña
          	</h1>

            <ion-item>
              <ion-input name="email" type="email" placeholder="Email" ></ion-input>
            </ion-item>


            </div>

           <div padding>
            	<ion-button  color= "blue" size="large"  (click)="contraseniaEnviada()">Enviar contraseña </ion-button>
			     </div>
</ion-content>
