<ion-header>
<ion-item color="primary">
<ion-label>Filtar por:</ion-label>
<ion-button (click)='Cancel()'>
    Cerrar
</ion-button>
</ion-item>
</ion-header>

<!-- https://es.stackoverflow.com/questions/267546/c%C3%B3mo-implemento-un-filter-usando-ion-select -->
<ion-content padding>




    <ion-grid>
      <ion-row>
        <ion-col col =6>
          <div *ngFor="let i of [1,1,1,1,1,1,1,1,1];let impar=odd;let indice=index">
          <ion-card  color="vacant" *ngIf="impar ==false">
        <!-- <img *ngIf="i.logo != null" src={{logo}}{{i.logo}} /> -->
        <!-- <img *ngIf="i.logo == null" src={{logo}}organization.png /> -->

        <ion-card-header>
            <ion-card-title>{{indice}}</ion-card-title>
            <ion-card-subtitle>en i.commercial_name</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content >
          <p >
              Aptitudes: 
      </p>
        </ion-card-content>
    </ion-card>
  </div>
        </ion-col>
        <ion-col>
          <div *ngFor="let i of [1,1,1,1,1,1,1,1,1];let impar=odd;let indice=index">
          <ion-card  color="vacant" *ngIf="impar ==true">
        <!-- <img *ngIf="i.logo != null" src={{logo}}{{i.logo}} /> -->
        <!-- <img *ngIf="i.logo == null" src={{logo}}organization.png /> -->

        <ion-card-header>
            <ion-card-title>{{indice}}</ion-card-title>
            <ion-card-subtitle>en i.commercial_name</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content >
          <p >
              Aptitudes: 
      </p>
        </ion-card-content>
    </ion-card>
  </div>
        </ion-col>
      </ion-row>
    </ion-grid>

<!-- <ion-list>
<ion-item>
<ion-label color="danger"  position="floating">Nombre/Código</ion-label>
        <ion-select interface="popover">
          <ion-select-option value="NameAsc">Name-Asc</ion-select-option>
          <ion-select-option value="NameDesc">Name-Desc</ion-select-option>
          <ion-select-option value="CodeAsc">Code-Asc</ion-select-option>
          <ion-select-option value="CodeDesc">Code-Desc</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-list>
<ion-button shape="round" size="small" expand="full"  >Aplicar Filtros</ion-button>   


<button class="button">
  prueba
</button> -->
</ion-content>