<ion-header slot="top">
  <ion-toolbar color="blue" slot="top">
    <ion-buttons slot="start" >
      <ion-menu-button color ="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Aptitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="goldlow" fullscreen padding>
	<!-- <p  *ngFor="let i of cvSkill">
		<ion-chip   color={{i.color}} outline>
          	<ion-label >
	        	    <font size=auto >
            	  	{{i.skill}}  

            		</font>
	    	    </ion-label>
        	<ion-icon name="close-circle" (click)=EliminarAptitud()> </ion-icon>
	    </ion-chip>
	</p>
    
 -->






 	<ion-item-sliding *ngFor="let i of cvSkill">
        <ion-item>
            <p>{{i.skill}}  </p>
        </ion-item>

          
        <ion-item-options side="start">
            <ion-item-option color="danger" (click)="Delete(i.cv_id,i.skill_list_id)">Delete</ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
     

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink='/agregar-aptitud'>
            <ion-icon  name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>




</ion-content>
