<ion-header slot="top">
  <ion-toolbar color="blue" slot="top">
    <ion-buttons slot="start" >
      <ion-menu-button color ="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Aptitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="goldlow"  >
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="60" class="refresherMP">
        <ion-refresher-content ></ion-refresher-content>
      </ion-refresher>
 

 	<ion-item *ngFor="let i of cvSkill" (click)=opcionesAptitud(i.cv_id,i.skill_list_id)>
        <ion-item>
            <p>{{i.skill}}  </p>
        </ion-item>

    </ion-item>
     
     <!-- <ion-item-options side="start">
            <ion-item-option color="danger" (click)="Delete(i.cv_id,i.skill_list_id)">Delete</ion-item-option>
        </ion-item-options> -->

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink='/agregar-aptitud'color ="boton">
        <ion-icon  name="add" color ="light"></ion-icon>
        </ion-fab-button>
    </ion-fab>




</ion-content>
