<!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
      <ion-fab-button (click)=gets() color ="danger">
        <ion-icon  name="add" color ="light"></ion-icon>
      </ion-fab-button>
</ion-fab> -->
<!-- https://stackoverflow.com/questions/59070842/ionic-tab-bar-more-than-4-elements -->
<!-- <ion-tab-bar slot="bottom" style="width: 100%; overflow-y: auto; overflow-x: auto;"> -->
<ion-tabs overflow-scroll=false >
	<ion-tab-bar slot="bottom" >
 

			 
 	<!-- 	<ion-tab-button tab="mp-exp-laboral" class="tabs">
			<ion-icon name="briefcase"></ion-icon>
			<ion-label>Prueba</ion-label>
		</ion-tab-button> 
		 -->
		<ion-tab-button tab="mp-exp-laboral" selected="true">
			<ion-icon name="briefcase"></ion-icon>
			<ion-label>Experiencia<br>Laboral</ion-label>
		</ion-tab-button> 

		<ion-tab-button  tab="mp-form-academica" >
			<ion-icon name="school"></ion-icon>
			<ion-label>Formación<br>Academica</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="mp-cursos" >
			<ion-icon name="bookmarks"></ion-icon>
			<ion-label>Cursos<br></ion-label>
		</ion-tab-button>
 
		<ion-tab-button tab="mp-certificaciones">
			<ion-icon name="ribbon"></ion-icon>
			<ion-label>Certificaciones<br></ion-label>
		</ion-tab-button>

		<ion-tab-button tab="mp-idiomas" >
			<ion-icon name="globe"></ion-icon>
			<ion-label>Idiomas<br></ion-label>
		</ion-tab-button>

		<ion-tab-button tab="mp-aptitudes" >
			<ion-icon name="happy"></ion-icon>
			<ion-label>Aptitudes<br></ion-label>
		</ion-tab-button>

	</ion-tab-bar>



</ion-tabs>