<ion-tabs overflow-scroll=false >
	<ion-tab-bar slot="bottom" >

		<ion-tab-button tab="mp-exp-laboral" selected="true">
			<ion-icon name="briefcase"></ion-icon>
			<ion-label>Experiencia Laboral</ion-label>
		</ion-tab-button>

		<ion-tab-button  tab="mp-form-academica" >
			<ion-icon name="school"></ion-icon>
			<ion-label>Formación Academica</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="mp-cursos" >
			<ion-icon name="bookmarks"></ion-icon>
			<ion-label>Cursos</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="mp-certificaciones">
			<ion-icon name="ribbon"></ion-icon>
			<ion-label>Certificaciones</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="mp-idiomas" >
			<ion-icon name="globe"></ion-icon>
			<ion-label>Idiomas</ion-label>
		</ion-tab-button>

		<ion-tab-button tab="mp-aptitudes" >
			<ion-icon name="happy"></ion-icon>
			<ion-label>Aptitudes</ion-label>
		</ion-tab-button>

	</ion-tab-bar>



</ion-tabs>