<ion-header>
  <ion-toolbar color="blue">
  	<ion-title color="light"> <strong> Editar Currículum</strong></ion-title>
    <ion-buttons slot="start">
    	<ion-button (click)="discardchanges()" >
      		<ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
    	</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="goldlow">

	<ion-item>
	    <ion-label>Estado </ion-label>
		<ion-select placeholder="Mostrar currículum?"
			interface="popover"
			[(ngModel)]="cv.status">
			<ion-select-option  value="visible">Visible</ion-select-option>
		   	<ion-select-option  value="hidden">Oculto</ion-select-option>
	    </ion-select>
  	</ion-item>
	<ion-card>
		<ion-item>
  			<ion-textarea  position="floating"  placeholder="Escriba su currículum aqui..." auto-grow="true" [(ngModel)]="cv.summary"></ion-textarea>
		</ion-item>
	</ion-card>
	
 <!-- (keyup.enter)="UpdateCv()" -->

    <div class="ion-padding">
    	<ion-button  color="blue" size="large" (click)="savechanges()" > Guardar</ion-button>

    </div>


</ion-content>
