<ion-header>
  <ion-toolbar color="blue">
  	<ion-title color="light"> <strong> Editar Currículum</strong></ion-title>
    <ion-buttons slot="start">
    	<ion-button (click)="discardchanges()" >
      		<ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
    	</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="goldlow">

	<ion-item>
	    <ion-label>Estado </ion-label>
		<ion-select placeholder="Mostrar currículum?"
			interface="popover"
			[(ngModel)]="cv.status">
			<ion-select-option  value="visible">Visible</ion-select-option>
		   	<ion-select-option  value="hidden">Oculto</ion-select-option>
	    </ion-select>
  	</ion-item>
	<ion-card>
		<ion-item>
  			<ion-textarea  position="floating"  placeholder="Escriba su currículum aqui..." auto-grow="true" [(ngModel)]="cv.summary"></ion-textarea>
		</ion-item>
	</ion-card>
	
 

    

</ion-content>
	<ion-row>
      <ion-col width-50 style="text-align: center">
        <ion-button color="boton" type="submit" (click)= "savechanges()"  expand="block" size="large">Guardar</ion-button>    
      </ion-col>
    </ion-row>