<ion-header>
	<ion-toolbar color="blue">
	  	<ion-buttons >
	      <ion-menu-button slot="start" color="light" ></ion-menu-button>
	      <ion-title color="light" >Resumen </ion-title>
	      	 
	          <ion-button routerLink='/editar-perfil-basico' color="light">
	            <ion-icon name="create"></ion-icon> Editar
	          </ion-button>
	    </ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content   >
  <img src= {{photoRout}}  style="width: 40%;   margin-left:auto;  margin-right:auto;  display:block;">
	<div class="row">
	    <div class="col">
	        <div class="text-center">
	            <h3 style="text-align: center;"><b> {{candidate.firstname}} {{candidate.lastname}}</b></h3>
	        </div>
	    </div>
	</div>


		<ion-list>

			<ion-item>
				<b > {{candidate.sex}}, {{candidate.marital_status}}, {{edad}} años,   Lugar de residencia: {{city.name}}, {{state.name}}, {{country.name}} </b>
				<!-- Lugar de residencia: Merida, Yucatan, Mexico</b><br> ,  {{candidate.birth_date |date: 'dd-MM-yyyy'}-->
			</ion-item>
			<ion-item>
				<b>CURP: </b>{{candidate.curp}}<br>
			</ion-item>
			<ion-item>
				<b>email: </b> {{user.email}}   <br>
			</ion-item>
			<ion-item lines="none">
				<b>Telefono: </b> {{candidate.phone}}<br>
			</ion-item>
			<ion-item >
				<b>Telefono celular: </b> {{candidate.cellphone}}<br>
			</ion-item>
			<ion-item>
				<b>Dependencia: </b>{{organizationunit.name}}<br>
			</ion-item>
			<ion-item>
				<b>Matrícula: </b> {{candidate.student_id_number}}<br>
			</ion-item>
			<ion-item lines="none">
				<b>Nombre de usuario: </b> {{user.username}}<br>
			</ion-item>

		</ion-list>

 		<ion-card color="light" (click)=opcionesCv()>
	        <ion-card-header>
	          <ion-card-title>Currículum Vítae <ion-icon  name="create"></ion-icon></ion-card-title>

	          <ion-card-subtitle>({{cv.status}})</ion-card-subtitle>
	        </ion-card-header>

	        <ion-card-content>
				{{cv.summary}}
	        </ion-card-content>
      </ion-card>
</ion-content>