<ion-header>
  <ion-toolbar color="blue">
        <ion-buttons slot="start" color="light">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title color="light"> <strong> Añadir experiencia laboral</strong></ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="updateData" (ngSubmit)="imprimir()">
    <div class="ion-padding" >
	   <ion-item>
      <ion-list formGroupName="wexperienceData" ><!-- formGroupName="wexperienceData" -->
        <ion-label  position="stacked"><font size=5>Empleador</font><ion-text color="danger">*<br></ion-text></ion-label>
        <ion-input inputmode="text" placeholder="Ingrese el nombre de la empresa" formControlName="company"></ion-input>
        </ion-list>
      </ion-item>
      <ion-item *ngIf="updateData.get('wexperienceData').get('company').errors && updateData.get('wexperienceData').get('company').dirty">
          <p color="danger" ion-text *ngIf="updateData.get('wexperienceData').get('company').hasError('required')">campo requerido</p>
          <p color="danger" ion-text *ngIf="updateData.get('wexperienceData').get('company').hasError('maxlength')">el maximo de caracteres es de 175</p>
      </ion-item>


      <ion-list formGroupName="wexperienceData"><!--  -->
  
    	<ion-item>
        <ion-label><font >Giro del negocio</font></ion-label>
          <ion-select  okText="seleccionar" cancel-text="cancelar" interface="action-sheet" formControlName="line_business_id" placeholder="seleccionar Giro">
            <ion-select-option  value= "null"> No se encuentra mi giro de negocio</ion-select-option>
          	<ion-select-option *ngFor="let lBusiness of lineBusiness" [value]="lBusiness.id" > {{lBusiness.name | lowercase}}</ion-select-option>
          </ion-select>

      </ion-item>

        <!-- formgrouo dentro del formfroup -->
        
          <ion-item>
              <ion-label position="stacked"><font size=5>Puesto</font><ion-text color="danger">*<br></ion-text></ion-label>
              <ion-input placeholder="Ingrese el nombre de tu puesto"  formControlName="job_title"></ion-input>
          </ion-item>
          <ion-item *ngIf="updateData.get('wexperienceData').get('job_title').errors && updateData.get('wexperienceData').get('job_title').dirty">
            <p color="danger" ion-text *ngIf="updateData.get('wexperienceData').get('job_title').hasError('required')">campo requerido</p>
            <p color="danger" ion-text *ngIf="updateData.get('wexperienceData').get('job_title').hasError('maxlength')">el maximo de caracteres es de 175</p>
          </ion-item>

        
	        <ion-item>
  		      <ion-label position="floating">Descripción</ion-label>
      		  <ion-textarea rows="4" formControlName="description" ></ion-textarea>
	        </ion-item>
        

    <ion-text>
 	    <h4>De<ion-text color="danger">*<br></ion-text></h4>
    </ion-text>	
   

    <ion-item>
      <ion-label>Año de inicio</ion-label>
        <ion-datetime  min="1970" max={{maxDate}} displayFormat='YYYY-MMMM' placeholder="Seleccione el año" formControlName="date_start" 
        month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiempre, Octubre, Noviembre, Diciembre"
        (ionChange)=" onChangeStart($event)" value={{maxDate}} done-text="Aceptar" cancel-text="Cancelar"> </ion-datetime>
    </ion-item>
<!-- Fin formgroup   dentro del formfroup -->

    
    
    </ion-list>




 <ion-text>
 	<h4>Hasta<ion-text color="danger">*<br></ion-text></h4>
 </ion-text>	
<ion-item>
<ion-label>Es mi empleo actual</ion-label><ion-checkbox checked="false" (click)="clickbox()"></ion-checkbox>
</ion-item> 
 
</div  >

 <div *ngIf = "!checked">


<ion-list formGroupName="wexperienceData">
    <ion-item>
      <ion-label>Año de término</ion-label>
        <ion-datetime  min={{minDate}} max={{maxDate}} displayFormat='YYYY-MMMM' placeholder="Seleccione el año" formControlName="date_end"
        month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiempre, Octubre, Noviembre, Diciembre"
        (ionChange)=" onChangeEnd($event)" value={{maxDate}} done-text="Aceptar" cancel-text="Cancelar">  </ion-datetime>
    </ion-item>
</ion-list>
</div>


  <!-- <div class="ion-padding">
    <ion-button  color="blue" size="large" (click)="imprimir()" > imprimir</ion-button>
  </div> -->
  <ion-row>
        <ion-col width-50 style="text-align: center">
          <ion-button [ngClass]="{'button-disabled': updateData.invalid}" color="boton" type="submit"  
            (click)= "addWorkExperience()" size="large">Aceptar</ion-button>
      </ion-col>
  </ion-row>
   
</form>
</ion-content>

