<ion-header>
<ion-img src= "./assets/image/Login_Edificio_Central.jpg"></ion-img>
</ion-header>

<ion-content color="light" padding>

  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>

        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>

          <div padding>
            <ion-item>
              <ion-input name="usuario" type="usuario" placeholder="Usuario" ngModel required></ion-input>
            </ion-item>
            <ion-item>

              <ion-input name="contraseña" type="password" placeholder="contraseña" ngModel required></ion-input>
            </ion-item>
          </div>
 
          <div padding>
            <ion-button size="large" [disabled]="form.invalid" expand="block" routerLink='/inicio-perfil-basico'>Ingresar 
            </ion-button>
          </div>

          <div text-center>
           <a mode="ios" routerLink='/olvido-contrasenia' >
             Olvidé mi contraseña</a>
          </div>
<!--
		  <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login 
            </ion-button>
          </div>
-->



        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>


<ion-footer >
  <ion-toolbar color ="gold" >
 
<ion-buttons slot="start">
   <ion-text color="light"  >
      <H5>
          siguenos: 
      </H5>
    </ion-text>

    <ion-button href="https://www.facebook.com/BolsadeTrabajoUADY/" >
      <ion-icon slot="icon-only" name="logo-facebook" color = "primary"></ion-icon>
    </ion-button>

    <ion-button href="https://twitter.com/BT_UADY" >
      <ion-icon slot="icon-only" name="logo-twitter" color = "primary"></ion-icon>
    </ion-button>
    
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
