
  
<ion-header >
  <ion-toolbar color="blue">
    <ion-buttons slot="start" >
      <ion-menu-button color ="light"></ion-menu-button>
    </ion-buttons>


  <div [ngSwitch]="segmento">
 
    <div *ngSwitchDefault >
       <ion-title color="light">Experiencia laboral</ion-title> 
    </div>
 
    <div *ngSwitchCase="'1'">
        <ion-title color="light">Formación académica</ion-title>
    </div>

    <div *ngSwitchCase="'2'">
        <ion-title color="light">Cursos</ion-title> 
    </div>
 
    <div *ngSwitchCase="'3'">
        <ion-title color="light">Certificaciones</ion-title>
    </div>

    <div *ngSwitchCase="'4'">
        <ion-title color="light">Idiomas</ion-title>
    </div>
 
    <div *ngSwitchCase="'5'">
        <ion-title color="light">Aptitudes</ion-title>
    </div>
  </div>
  </ion-toolbar>

<ion-toolbar>


<!--(ionChange)="segmentChanged()"-->
<ion-segment   [(ngModel)]="segmento" color="primary" scrollable >
    <ion-segment-button class="segment-item" value="0">
        <font size= 2><ion-icon size=5 name="briefcase"></ion-icon></font>
        <font size= 1>Experiencia <br> laboral</font>
    </ion-segment-button>

    <ion-segment-button class="segment-item" value="1">
        <font size= 2><ion-icon name="school"></ion-icon></font>
        <font size= 1>Formación <br> académica</font>
    </ion-segment-button>

    <ion-segment-button class="segment-item" value="2">
        <font size= 2><ion-icon name="bookmarks"></ion-icon></font>
        <font size= 1>Cursos</font>
    </ion-segment-button>

   <ion-segment-button class="segment-item" value="3">
        <font size= 2><ion-icon name= "ribbon" ></ion-icon></font>
        <font size= 1>Certificacion</font>
    </ion-segment-button>
   
    <ion-segment-button class="segment-item" value="4">
        <font size= 2><ion-icon name="globe"></ion-icon></font>
        <font size= 1>Idiomas</font>
    </ion-segment-button>

   <ion-segment-button class="segment-item" value="5">
        <font size= 2><ion-icon name="happy"></ion-icon></font>
       <font size= 1>Aptitudes</font>
    </ion-segment-button>
</ion-segment>

</ion-toolbar>
</ion-header>

 
 
<!--##########################################################################################-->


<ion-content color="goldlow" fullscreen padding  >
      <!--
      <ion-item >
        <ion-thumbnail slot="start">
          <img src="./assets/image/side-menu.png">
        </ion-thumbnail>
        <ion-label >
           <h2>Maria Jose Pinto Suarez</h2>
            <h3>Matricula: 17017292</h3>
            <p>Dependencia: Facultad de Matematicas</p>
        </ion-label>
      </ion-item>
      -->
 
  <div [ngSwitch]="segmento"  >
<!--===================================================EXPERIENCIA LABORAL===================================================-->
    <div  *ngSwitchDefault >

      <ion-card *ngFor="let i of workexperience" color="light" (click)=opcionesExpLab(i.id)>
        <ion-card-header>
          <ion-card-title>{{i.company}}</ion-card-title>
          <ion-card-subtitle>{{i.job_title}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content style="text-align: justify;">
          {{i.description}}
          <br>
          <b>Periodo:</b><p> De {{i.start}} a  <span  *ngIf=" i.end == null">la fecha</span > <span  *ngIf=" i.end != null">{{i.end}}</span ></p>
          <br>
          <b>Giro del negocio:</b> {{i.name}}
        </ion-card-content>
      </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-exp-laboral'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
       
    </div>
 <!--===================================================FORMACION ACADEMICA===================================================-->
    <div *ngSwitchCase="'1'">
      <ion-card color ="light" (click)=opcionesFormAcademica()>
        
        <ion-card-header>
          <ion-card-title>Licenciatura en Ingenieria Industrial Logistica</ion-card-title>
          <ion-card-subtitle>en UADY</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <b>Grado de estudio:</b> Licenciatura<br>
          <b>Ingreso: </b>2011-08-01. <br><b>Egreso: </b>2016-06-01
        </ion-card-content>

      </ion-card>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-form-academica'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    </div>
<!--===================================================CURSOS===================================================-->
    <div *ngSwitchCase="'2'">
            <ion-card color ="light" (click)=opcionesCursos()>
        
        <ion-card-header>
          <ion-card-title>PHP <font size=2>en UADY</font></ion-card-title>
       
        </ion-card-header>

        <ion-card-content>
          240 horas<br>
          <b>Modo:</b> En linea<br>
          <b>Fecha de inicio:</b> 2018-10-08<br>
          <b>Fecha de término:</b> 2019-10-08<br>
        </ion-card-content>
      </ion-card>
     
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-curso'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </div>
 <!--===================================================CERTIFICACIONES===================================================-->
    <div *ngSwitchCase="'3'"> 

      <ion-card color ="light" (click)=opcionesCertificaciones()>
        
        <ion-card-header>
          <ion-card-title>Software Engineering Institute | Carnegie Mellon University</ion-card-title>
          <ion-card-subtitle>de UADY</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <b>psicologia</b><br>
          <b>Recibido:</b> 2018-10-08<br>
          <b>Vence:</b> 2019-10-08<br>
        </ion-card-content>
      </ion-card> 

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-certificacion'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>     
    </div>
<!--===================================================IDIOMAS===================================================-->
    <div *ngSwitchCase="'4'">

      <ion-card (click)=opcionesIdioma()>
        <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/image/bandera-estados-unidos.jpg">
          </ion-avatar>
          <ion-label>
            <b>Ingles</b>
            <p>Intermedio</p>
          </ion-label>
        </ion-item>
      </ion-card>
      
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)=agregarIdioma()>
          <ion-icon  name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      </div>
 <!--===================================================APTITUDES===================================================-->
    <div *ngSwitchCase="'5'">

        <ion-chip >
          <ion-label >
            <font size=5 >
              trabajo en equipo    
            </font>
          </ion-label>
          <ion-icon name="close-circle" (click)=EliminarAptitud()> </ion-icon>
        </ion-chip>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)=agregarAptitud()>
            <ion-icon  name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab> 

    </div>

  </div>

</ion-content>
