<ion-app>
  <ion-split-pane >

    <ion-menu type="overlay">
      

      <ion-header style="height:160px" >
        <ion-toolbar  style="height:170px">
          <ion-menu-toggle auto-hide="false" >
            <ion-item color="gold" routerLink='/inicio-perfil-basico'  >
              <div>
              <ion-avatar slot="start"  style="height:110px;width:110px">
                <img src="./assets/image/side-menu.png">
              </ion-avatar>
              <ion-text color="light">
              <h4>Nombre de usuario</h4>
             </ion-text>
              </div>
            </ion-item>         
          </ion-menu-toggle>
        </ion-toolbar>

      </ion-header>




      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>


    </ion-menu>
    
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
