<ion-app>
 

    <ion-menu menuId="first" contentId="principal" > <!-- <ion-menu type="overlay"> -->
      <ion-menu-toggle auto-hide="false" >
      <div class="logo-section" color="gold" routerLink='/inicio-perfil-basico'>
          <div class="logo-section__wrapper">
            <img class="logo-section__logo" src={{photoRout}}>
            <h3 class="logo-section__title">{{candidate.firstname}} {{candidate.lastname}}</h3>
          </div>
      </div>
    </ion-menu-toggle>



      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

    <ion-button (click)="clear()" color="blue">Cerrar Sesión</ion-button>
<!--     <ion-row>
        <ion-col width-50 style="text-align: center">
          <ion-button  color="blue" (click)= "clear()" >Cerrar Sesión</ion-button>    
        </ion-col>
    </ion-row> -->

    </ion-menu>
    
    
    
 
  <ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
