<ion-header>
	<ion-toolbar color="blue">
	  	<ion-buttons >
	      <ion-menu-button slot="start" color="light" ></ion-menu-button>
	      <ion-title color="light" >Resumen </ion-title>
	      	 
	          <ion-button routerLink='/editar-perfil-basico' color="light">
	            <ion-icon name="create"></ion-icon> Editar
	          </ion-button>
	    </ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content   >
  <img src="./assets/image/side-menu.png"  style="width: 40%;   margin-left:auto;  margin-right:auto;  display:block;">
	<div class="row">
	    <div class="col">
	        <div class="text-center">
	            <h3 style="text-align: center;"><b>Medardo Junior Camacho Rueda</b></h3>
	        </div>
	    </div>
	</div>


		<ion-list>

			<ion-item>
				<b>Hombre, soltero, 27 años, Lugar de residencia: Merida, Yucatan, Mexico</b><br>
			</ion-item>
			<ion-item>
				<b>CURP: </b> CARM920625HGRMDD06<br>
			</ion-item>
			<ion-item>
				<b>Correo electronico: </b> camachomedardo@gmail.com<br>
			</ion-item>
			<ion-item lines="none">
				<b>Telefono: </b> 9992342633<br>
			</ion-item>
			<ion-item >
				<b>Telefono celular: </b> 9992344567<br>
			</ion-item>
			<ion-item>
				<b>Dependencia: </b>Facultad de Ingenieria Quimica<br>
			</ion-item>
			<ion-item>
				<b>Matrícula: </b> 11215709<br>
			</ion-item>
			<ion-item lines="none">
				<b>Nombre de usuario: </b> Medardo.Camacho<br>
			</ion-item>

		</ion-list>

 		<ion-card color="light">
	        <ion-card-header>
	          <ion-card-title>Currículum Vítae</ion-card-title>

	          <ion-card-subtitle>(Visible)</ion-card-subtitle>
	        </ion-card-header>

	        <ion-card-content>
				Como Ingeniero Industrial Logístico recién egresado, busco adquirir experiencia y nuevos conocimientos en las áreas de producción y logística, usando las metodologías adquiridas durante la universidad para aplicarlos a una organización, adecuándolos a las necesidades de la empresa para la resolución de problemas. A pesar de haber egresado en Junio de 2016 tengo experiencia profesional desde el año 2014, por lo que han sido dos años en los que he estado involucrado en actividades de logística y producción.
	        </ion-card-content>
      </ion-card>
</ion-content>