<ion-header slot="top">
  <ion-toolbar color="blue" slot="top">
    <ion-buttons slot="start" >
      <ion-menu-button color ="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Experiencia Laboral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="goldlow" fullscreen padding>

    <div *ngIf = "workexperience == null">
      <ion-card *ngFor="let i of [1,1,1,1]" color="light" >
        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 60%; height: 20px"></ion-skeleton-text>
          </ion-card-title>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content style="text-align: justify;">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          <br>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 45%"></ion-skeleton-text>
          
          <br>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>

    
    </div>

    <div  *ngIf = "workexperience != null">
      <ion-card *ngFor="let i of workexperience" color="light" (click)=opcionesExpLab(i.id)>
        <ion-card-header>
          <ion-card-title>{{i.company}}</ion-card-title>
          <ion-card-subtitle>{{i.job_title}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content style="text-align: justify;">
          {{i.description}}
          <br>
          <b>Periodo:</b><p> De {{i.start}} a  <span  *ngIf=" i.end == null">la fecha</span > <span  *ngIf=" i.end != null">{{i.end}}</span ></p>
          <br>
          <b>Giro del negocio:</b> {{i.name}}
        </ion-card-content>
      </ion-card>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-exp-laboral'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
</ion-content>
