
  
<ion-header >
  <ion-toolbar color="blue">
    <ion-buttons slot="start" >
      <ion-menu-button color ="light"></ion-menu-button>
    </ion-buttons>


  <div [ngSwitch]="segment">
 
    <div *ngSwitchCase="0">
       <ion-title color="light">Experiencia laboral</ion-title> 
    </div>
 
    <div *ngSwitchCase="1">
        <ion-title color="light">Formación académica</ion-title>
    </div>

    <div *ngSwitchCase="2">
        <ion-title color="light">Cursos</ion-title> 
    </div>
 
    <div *ngSwitchCase="3">
        <ion-title color="light">Certificaciones</ion-title>
    </div>

    <div *ngSwitchCase="4">
        <ion-title color="light">Idiomas</ion-title>
    </div>
 
    <div *ngSwitchCase="5">
        <ion-title color="light">Aptitudes</ion-title>
    </div>
  </div>
  </ion-toolbar>

<ion-toolbar>


<!--(ionChange)="segmentChanged()"-->
<ion-segment   [(ngModel)]="segment" color="primary" scrollable >
    <ion-segment-button class="segment-item" value="0" >
        <font size= 2><ion-icon size=5 name="briefcase"></ion-icon></font>
        <font size= 1>Experiencia <br> laboral</font>
    </ion-segment-button>

    <ion-segment-button class="segment-item" value="1">
        <font size= 2><ion-icon name="school"></ion-icon></font>
        <font size= 1>Formación <br> académica</font>
    </ion-segment-button>

    <ion-segment-button class="segment-item" value="2">
        <font size= 2><ion-icon name="bookmarks"></ion-icon></font>
        <font size= 1>Cursos</font>
    </ion-segment-button>

   <ion-segment-button class="segment-item" value="3">
        <font size= 2><ion-icon name= "ribbon" ></ion-icon></font>
        <font size= 1>Certificacion</font>
    </ion-segment-button>
   
    <ion-segment-button class="segment-item" value="4">
        <font size= 2><ion-icon name="globe"></ion-icon></font>
        <font size= 1>Idiomas</font>
    </ion-segment-button>

   <ion-segment-button class="segment-item" value="5">
        <font size= 2><ion-icon name="happy"></ion-icon></font>
       <font size= 1>Aptitudes</font>
    </ion-segment-button>
</ion-segment>

</ion-toolbar>
</ion-header>

 
 
<!--##########################################################################################-->


<ion-content color="goldlow" fullscreen padding  >
      <ion-item >
        <ion-thumbnail slot="start">
          <img src="./assets/image/side-menu.png">
        </ion-thumbnail>
        <ion-label >
           <h2>Maria Jose Pinto Suarez</h2>
            <h3>Matricula: 17017292</h3>
            <p>Dependencia: Facultad de Matematicas</p>
        </ion-label>
      </ion-item>
 
<!--
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true" [ngSwitch]="segment">
    -======================================================================--
    <ion-slide fullscreen>
<div *ngSwitchCase="0">

      <ion-card color ="light">
        
        <ion-card-header>
          <ion-card-title>Ejemplo Card 1</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
    <ion-card color="light">
      <ion-card-header>
          <ion-card-title>Ejemplo Card 2</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-exp-laboral'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
       
    </div>
    </ion-slide>
    <--======================================================================--
    <ion-slide>
          <div >
      <ion-card color ="light">
        
        <ion-card-header>
          <ion-card-title>Ejemplo Card 1</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
    <ion-card color="light">
      <ion-card-header>
          <ion-card-title>Ejemplo Card 2</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-form-academica'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    </div>
    </ion-slide>
    <--======================================================================--
    <ion-slide>
       <ion-card color ="light">
        
        <ion-card-header>
          <ion-card-title>Ejemplo Card 1</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
    <ion-card color="light">
      <ion-card-header>
          <ion-card-title>Ejemplo Card 2</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-curso'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    </ion-slide>
    <--======================================================================--
    <ion-slide>
      <ion-card color ="light">
        
        <ion-card-header>
          <ion-card-title>Ejemplo Card 1</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
    <ion-card color="light">
      <ion-card-header>
          <ion-card-title>Ejemplo Card 2</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-certificacion'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>     

    </ion-slide>
    <--======================================================================--
    <ion-slide>
      <ion-card (click)=opcionesIdioma()>
        <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/image/bandera-estados-unidos.jpg">
          </ion-avatar>
          <ion-label>
            <b>Ingles</b>
            <p>Intermedio</p>
          </ion-label>
        </ion-item>
      </ion-card>
      
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)=agregarIdioma()>
          <ion-icon  name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-slide>
    <--======================================================================--
    <ion-slide>
      <ion-chip >
          <ion-label >
            <font size=5 >
              trabajo en equipo    
            </font>
          </ion-label>
          <ion-icon name="close-circle" (click)=EliminarAptitud()> </ion-icon>
        </ion-chip>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)=agregarAptitud()>
            <ion-icon  name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
    </ion-slide>
  </ion-slides>
  //====================================================================//
-->
 
  <div [ngSwitch]="segment"  >

    <div *ngSwitchCase="0">

      <ion-card color ="light">
        
        <ion-card-header>
          <ion-card-title>Ejemplo Card 1</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
    <ion-card color="light">
      <ion-card-header>
          <ion-card-title>Ejemplo Card 2</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-exp-laboral'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
       
    </div>
 
    <div *ngSwitchCase="1">
      <ion-card color ="light">
        
        <ion-card-header>
          <ion-card-title>Ejemplo Card 1</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
    <ion-card color="light">
      <ion-card-header>
          <ion-card-title>Ejemplo Card 2</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-form-academica'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    </div>

    <div *ngSwitchCase="2">
            <ion-card color ="light">
        
        <ion-card-header>
          <ion-card-title>Ejemplo Card 1</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
    <ion-card color="light">
      <ion-card-header>
          <ion-card-title>Ejemplo Card 2</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-curso'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </div>
 
    <div *ngSwitchCase="3">
            <ion-card color ="light">
        
        <ion-card-header>
          <ion-card-title>Ejemplo Card 1</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    
    <ion-card color="light">
      <ion-card-header>
          <ion-card-title>Ejemplo Card 2</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink='/agregar-certificacion'>
        <ion-icon  name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>     
    </div>

    <div *ngSwitchCase="4">

      <ion-card (click)=opcionesIdioma()>
        <ion-item>
          <ion-avatar slot="start">
            <img src="./assets/image/bandera-estados-unidos.jpg">
          </ion-avatar>
          <ion-label>
            <b>Ingles</b>
            <p>Intermedio</p>
          </ion-label>
        </ion-item>
      </ion-card>
      
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)=agregarIdioma()>
          <ion-icon  name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      </div>
 
    <div *ngSwitchCase="5">

        <ion-chip >
          <ion-label >
            <font size=5 >
              trabajo en equipo    
            </font>
          </ion-label>
          <ion-icon name="close-circle" (click)=EliminarAptitud()> </ion-icon>
        </ion-chip>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)=agregarAptitud()>
            <ion-icon  name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab> 

    </div>

  </div>

</ion-content>
