<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
          <ion-item >
        <ion-thumbnail slot="start">
          <img src="./assets/image/side-menu.png">
        </ion-thumbnail>
        <ion-label >
        	 <h2>Maria Jose Pinto Suarez</h2>
            <h3>Matricula: 17017292</h3>
            <p>Dependencia: Facultad de Matematicas</p>
      	</ion-label>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
 	<ion-title>RESUMEN CURRICULUM VITAE</ion-title>
      
      <ion-item >
        <ion-label >
            <ion-textarea expand="block">
            Nombre y apellidos. José Manuel Azaña Contreras
Lugar y fecha de nacimiento Arroyo de la Luz, 30 de abril de 1983
Estado civil Soltero
Calle, nº, piso Carlos Barriga nº 13
Código postal – Ciudad 10900 Arroyo de la Luz (Cáceres)
Teléfono de contacto 927 123 456
Teléfono móvil 669 987 654
e-mail jm_azaña@extrem.com
			</ion-textarea>
      	</ion-label>
      </ion-item>

      <ion-item >
        <ion-label >
        	<h1>
        		FORMACION ACADEMICA
        	</h1>
            <h2>
            	grado de estudio 1, plan
			</h2>
			<h2>
            	grado de estudio 2, plan
			</h2>
      	</ion-label>
      </ion-item>

      <ion-item >
        <ion-label >
        	<h1>
        		EXPERIENCIA LABORAL
        	</h1>
            <h2>
            	Empleo 1
			</h2>
			<h2>
            	Empleo 2
			</h2>
      	</ion-label>
      </ion-item>

      <ion-item >
        <ion-label >
        	<h1>
        		CERTIFICACIONES
        	</h1>
            <h2>
            	nombre certificacion 1
			</h2>
			<h2>
            	nombre certificacion 2
			</h2>
      	</ion-label>
      </ion-item>

</ion-content>
